{% extends "taskManagement/main.html" %}

{% block navigation %}
{% include "taskManagement/navigation.html" %}
{% endblock %}

{% block content %}
<h1> Welcome to the Task Management System</h1> 
<p style="font-size:small"> This screen will dynamically update as you create or are assigned tasks, so check this site regularly for updates </p> 
<p> Each task is has a set priority with a default of low. To make this easier to see, each task is color coded as below:
<ul>
    <li class="Low"> Low </li>
    <li class="Medium"> Medium </li>
    <li class="High"> High </li>

<p> Note: when changing the priority, this page dynamically update it's color scheme as well.

</ul>

<div class="container-fluid">
    <h2> Your Created Tasks </h2>
        <ul id="created_tasks">
            {% for task in created_tasks %}
                <li class= {{task.priority}}>
                    {{ task }} - {{ task.due_date }} 
                    <a href="{% url 'update_task' task.task_ID %}">Update</a>
                    <a href="{% url 'delete_task' task.task_ID %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                </li>
            {% endfor %}
        </ul>
</div>



<div class="container-fluid">
    <h2> Assigned Tasks </h2>
        <ul id="assigned_tasks">
            {% for task in assigned_tasks %}
                <li class= {{task.priority}}>
                    {{ task }} - {{ task.due_date }} 
                    <a href="{% url 'update_task' task.task_ID %}">Update</a>
                    <a href="{% url 'delete_task' task.task_ID %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                </li>
            {% endfor %}
        </ul>
</div>

<div class="container-fluid">
    <h2> Incomplete Tasks </h2>
    <ul id ="incomplete_tasks">
        {% for task in Incomplete_tasks %}
                <li class= {{task.priority}}>
                {{ task }} - {{ task.due_date }} 
                <a href="{% url 'update_task' task.task_ID %}">Update</a>
                <a href="{% url 'delete_task' task.task_ID %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="container-fluid">
    <h2> Tasks In Progress </h2>
        <ul id ="inprogress_tasks">
            {% for task in in_progress %}
                <li class={{task.priority}}>
                    {{ task }} - {{ task.due_date }}
                    <a href="{% url 'update_task' task.task_ID %}">Update</a>
                    <a href="{% url 'delete_task' task.task_ID %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                </li>
            {% endfor %}
        </ul>
</div>

<div class="container-fluid">
    <h2> Completed Tasks </h2>
        <ul id ="complete_tasks">
            {% for task in completed_tasks %}
                <li class= {{task.priority}}>
                    {{ task }} - {{ task.due_date }} {{task.priority}}
                    <a href="{% url 'update_task' task.task_ID %}">Update</a>
                    <a href="{% url 'delete_task' task.task_ID %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                </li>
            {% endfor %}
        </ul>
</div>

<a href="{% url 'new_task' %}" id="new_task_button"> Create New Task </a>

{% endblock %}
