{% extends "taskManagement/main.html" %}


{% block navigation %}
{% include "taskManagement/navigation.html" %}
{% endblock %}

{% block content %}
<h1> Welcome to the Task Management System Homepage<h1> 
<p style="font-size=small"> This screen will dynamically update as you create or are assigned tasks, so check this site regularly for updates <p> 
<h2> Assigned Tasks </h2>
    <ul id="assigned_tasks">
        {% for tasks in assigned_tasks%}
            <li> {{tasks}} - {{tasks.due_date}} </li>
        {% endfor %}
    </ul>


<h2> Incomplete Tasks </h2>
<ul id ="incomplete_tasks">
{% for tasks in Incomplete_tasks%}
    <li> {{tasks}} - {{tasks.due_date}} </li>
{% endfor %}
</ul>

{% endblock %}