{% extends "taskManagement/main.html" %}

{% block navigation %}
{% include "taskManagement/navigation.html" %}
{% endblock %}

{% block content %}
<h1> Welcome to the Manager Dashboard </h1> 
<p> You are currently signed in as a manager.</p>
<div class="container-fluid">
    <h2> Assigned Tasks </h2>
        <ul id="assigned_tasks">
            {% for task in assigned_tasks %}
                <li class= {{task.priority}}>
                    {{ task }} - {{ task.due_date }} 
                    <a href="{% url 'update_task' task.task_ID %}">Update</a>
                    <a href="{% url 'delete_task' task.task_ID %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                </li>
            {% endfor %}
        </ul>
</div>


<div class="container-fluid">
    <h2> Unassigned Tasks </h2>
        <ul id="unassigned_tasks">
            {% for assignment in unassigned_tasks %}
                <li class= {{task.priority}}>
                    {{ assignment.task }} - {{ assignment.task.due_date }} 
                    <a href="{% url 'update_task' assignment.task.task_ID %}">Update</a>
                    <a href="{% url 'delete_task' assignment.task.task_ID %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                    {{ assignment}}
                </li>
            {% endfor %}
        </ul>
</div>
<a href="{% url 'new_task' %}" id="new_task_button"> Create New Task </a>
{% endblock %}