{% extends "taskManagement/main.html" %}

{% block navigation %}
<nav>
    <div class="nav_bar">
        <div id = "nav_links">
            <ul>
                <li>test 1 </li> 
                <li>test 1 </li> 
                <li>test 1 </li> 
            <!-- Additional navigation items for this specific page can go here -->
            </ul>
        </div>
        <div id = "nav_logo">
        </div>
        
        <div id ="nav_profile">
            test
        </div>


    </div>
</nav>
{% endblock %}

