{% extends "taskManagement/main.html" %}

{% block navigation %}
{% include "taskManagement/navigation.html" %}
{% endblock %}

{% block content %}
<h1> Welcome to the Task Management System</h1> 
<p style="font-size:small"> This screen will dynamically update as you create or are assigned tasks, so check this site regularly for updates </p> 
<p> Each task has a set priority with a default of low. To make this easier to see, each task is color coded as below:
<ul>
    <li class="Low"> Low </li>
    <li class="Medium"> Medium </li>
    <li class="High"> High </li>

<p> Note: when changing the priority, this page dynamically update it's color scheme as well.

</ul>
<div class="container-fluid">
    <h2> Created Tasks </h2>
    <table>
        <tr>
            <th> Created by </th>
            <th> Task Title </th>
            <th> Task Description </th>
            <th> Task Due Date </th>
            <th> Assigned To </th>
            <th> Task Priority </th>

            <th> Update </th>
            <th> Delete </th>
        </tr>
        {% for assignment in created_tasks %}
        {% if assignment.task.status == 'In Progress' or assignment.task.status == 'Incomplete' %}
            {% if assignment.task.creator == request.user %}
            <tr >
                <td> {{assignment.task.creator}}</td>
                <td> {{ assignment.task }} </td>
                <td> {{ assignment.task.description }} </td>
                <td> {{ assignment.task.due_date }}</td>
                <td> {{assignment.assigned_user}} </td>

                <td class = {{assignment.task.priority}}> {{ assignment.task.priority}} </td>

                <td> <a class="table_button"  href="{% url 'update_task' assignment.task.task_ID %}">Update</a> </td>
                <td> <a class="table_button"  href="{% url 'delete_task' assignment.task.task_ID %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a> </td>
            </tr>
            {%endif%}
        {%endif%}
        {%endfor%}
    </table>


</div>



<div class="container-fluid">
    <h2> Assigned Tasks </h2>
    <table>
        <tr>
            <th> Assigned to </th>
            <th> Task Title </th>
            <th> Task Description </th>
            <th> Task Due Date </th>
            <th> Task Priority </th>

            <th> Update </th>
            <th> Delete </th>
        </tr>
        {% for assignment in assigned_tasks %}
        {% if assignment.task.status == 'In Progress' or assignment.task.status == 'Incomplete' and assignment.assigned_user != null%}

        <tr >
            <td> {{assignment.assigned_user}}</td>
            <td> {{ assignment.task }} </td>
            <td> {{ assignment.task.description }} </td>
            <td> {{ assignment.task.due_date }}</td>
            <td class = {{assignment.task.priority}}> {{ assignment.task.priority}} </td>

            <td> <a class="table_button"  href="{% url 'update_task' assignment.task.task_ID %}">Update</a> </td>
            <td> <a class="table_button"  href="{% url 'delete_task' assignment.task.task_ID %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a> </td>
        </tr>
        {%endif%}
        {%endfor%}
    </table>

</div>


<div class="container-fluid">
    <h2> Completed Tasks </h2>
    <table>
        <tr>
            <th> Assigned to </th>
            <th> Task Title </th>
            <th> Task Description </th>
            <th> Task Due Date </th>
            <th> Task Priority </th>

            <th> Update </th>
            <th> Delete </th>
        </tr>
        {% for assignment in completed_tasks %}
        {% if assignment.task.status == 'completed'%}
            {% if assignment.assigned_user == request.user %}
            <tr >
                <td> {{assignment.assigned_user}}</td>
                <td> {{ assignment.task }} </td>
                <td> {{ assignment.task.description }} </td>
                <td> {{ assignment.task.due_date }}</td>
                <td class = {{assignment.task.priority}}> {{ assignment.task.priority}} </td>

                <td > <a class="table_button" href="{% url 'update_task' assignment.task.task_ID %}">Update</a> </td>
                <td > <a class="table_button" href="{% url 'delete_task' assignment.task.task_ID %}" onclick="return confirm('Are you sure you want to delete this task?');">Delete</a> </td>
            </tr>
            {%endif%}
        {%endif%}
        
        {%endfor%}
    </table>

</div>


</div>
<a href="{% url 'new_task' %}" id="new_task_button"> Create New Task </a>

<br>
{%endblock%}