{% extends "taskManagement/main.html" %}

{% block navigation %}
<nav>
    <div class="nav_bar">
        <div id = "nav_links">
            <ul>
                <li> <a href='/home'> Home </a> </li> 
                <li> <a href="/tasks"> Tasks </a> </li>
                <li> <a href='https://google.com'> test </a> 
            <!-- Additional navigation items for this specific page can go here -->
            </ul>
        </div>


        <div id = "nav_logo">
        </div>

        
        <div id ="nav_profile">
            <a href='../login/'> test login link </a>
        </div>


    </div>
</nav>
{% endblock %}

